*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}
#container{
    width: 498px;
    height: 310px;
    background-color: #fff;
    padding-left: 30px;
}
#one{
    padding-top: 30px;
    padding-bottom: 10px;
}
#username{
    width: 360px;
    height: 28px;
}
#error{
    padding-top: 10px;
}
#two{
    padding-top: 30px;
    padding-bottom: 10px;
}
#password{
    width: 360px;
    height: 28px; 
}
#error1{
    padding-top: 10px;
}
#submit{
    margin-top: 30px;
    width: 128px;
    height: 27px;
}